:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background: rgb(19, 141, 179);
}

body {
  margin: 1% 15% 10% 15%;
  flex-direction: column;
  /*display: flex;*/
  border: 2rem;
  background-color: whitesmoke;
}

.daily-kitteh {
  display: flex;
  padding: 1em;
  align-content: center;
  justify-content: center;
  color: gray;
  font-family: serif;
  font-size: 400%;
  margin: 0;
}

.nav-bar {
  display: flex;
  font-size: 0.8rem;
  background-color: rgb(161, 177, 169);
  padding: 0;
  justify-content: space-around;
  align-content: center;
  color: white;
  text-decoration: underline;
  margin: 0;
  /*font-weight: normal;*/
  margin-block-end: 0;
  margin-block-start: 0;
}

#no-dot {
  display: flex;
  align-content: content;
  justify-content: space-around;
}

#no-dot > li {
  padding: 2rem;
  list-style: none;
}

main {
  display: flex;
}

article {
  padding: 1rem;
}

#needs-a-border {
  border-style: inset;
  border-color: green;
  border-width: thin;
  font-weight: bolder;
  margin: 5%;
}

.picture-header {
  display: flex;
}

figcaption {
  font-weight: bold;
}
.rotateimg90 {
  display: flex;
  transform: rotate(90deg);
  align-content: column;
  max-height: auto;
  max-width: 150%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  /*position: relative;*/
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

footer {
  background-color: slategrey;
  align-items: center;
  justify-content: center;
  padding: 0% 25%;
}

footer > ul > li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
