:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background: rgb(19, 141, 179);
}

body {
  margin: 1% 10% 5% 10%;
  flex-direction: column;
  display: flex;
  border: 2rem;
  background-color: whitesmoke;
}

.daily-kitteh {
  display: flex;
  padding: 1em;
  align-content: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  border-radius: 5px;
  background-color: rgb(161, 177, 169);
  padding: 1em;
  justify-content: space-around;
  align-content: center;
}

#no-dot {
  display: flex;
  align-content: content;
  justify-content: space-around;
}

#no-dot > li {
  padding: 2rem;
  list-style: none;
}

main {
  display: flex;
}

article {
  padding: 2rem;
}

#needs-a-border {
  border-style: inset;
  border-color: green;
  border-width: thin;
  font-weight: bolder;
  margin: 5%;
}

.picture-header {
  display: flex;
}

figcaption {
  font-weight: bold;
}
.rotateimg90 {
  display: flex;
  transform: rotate(90deg);
  align-content: column;
  max-width: 150%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  position: relative;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
